<h1><%= @lesson.name %></h1>
<div>
  <%= @lesson.content %>
</div>

<%= form_tag({controller: "lessons", action: "check"}, method: "post") do %>
  <div>
    <%= text_field_tag(:answer) %>
  </div>
  <div>
    <%= submit_tag "Check" %>
<% end %>